// PX to em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
$bk_color: #275D38;
$id_color: #EB1A22;
.rounded {
   border-radius: 6px;
}
body {
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  margin: 20px 0;
  background-image: url(../img/BG_site_144721281.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, sans-serif;
}
.header, .wrapper { 
  width: 940px;
  margin-right: auto; margin-left: auto;
  // border: 1px solid gray;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // img[src^="img/ID"] {border: 1px solid green;}
  img {
    align-self: flex-end;
    flex-shrink: 0;
    &:nth-child(1){}
    &:nth-child(2){margin-bottom: -8px;}
  }
}
.intro {
  display: flex; align-items: center; justify-content: center;
  // height: 46px;
  min-height: 46px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 1.125em; /* 18/16 = 1.125 */
  font-weight: bold;
  color: #111;
  background-color: #fff;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.select_country {
  display: flex;
  justify-content: center;
  // align-items: center;
}
.cover {
  display: flex;
  justify-content: space-around;
  margin-top: 58px;
  img {
    box-shadow: 0 0 24px rgba(0, 0, 0, .65);
  }
}
.id {
  margin-right: 20px;
  h1 {
    color: $id_color;
  }
  .country_lk { background-color: $id_color; }
}
.bk {
  h1 {
    color: $bk_color;
  }
  .country_lk { background-color: $bk_color; }
}
.id, .bk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend .rounded;
  width: 460px;
  min-height: 260px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  h1 {
    font-size: em(21);
    font-weight: bold;
  }
  .country select, .country input {
    @extend .rounded;
    -webkit-appearance:none;
    height: 35px;
    border: none;
    overflow: hidden;
    font-size: em(16);
  }
  .country select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 240px;
    padding-left: 12px;
    border: 1px solid #999999;
    background: #FFF url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  }
  .country input[type=submit] {
    margin-left: 8px;
    padding: 0 32px;
    color: #fff;
    background-color: #888;
  }
  .country_lk {
    @extend .rounded;
    display: inline-block;
    margin: 0 auto;
    line-height: 44px;
    width: 296px;
    height: 44px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    img {
      margin: 0 6px -4px 0;
    }
  }
}

// carousel
.carousel{
  position: relative;
  padding: 20px 80px;
  background-color: #fff;
}
.carousel__button--prev, .carousel__button--next{
  position: absolute; top: 0; bottom: 0;
}
.carousel__button--prev{left: 0; }
.carousel__button--next{right: 0; }
.carousel__container {
  overflow: hidden;
  height: 140px;
}
.carousel__list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.carousel__list.unwrap{
  flex-wrap: nowrap;
}
.carousel__item{
  width: 140px; height: 140px;
  margin-right: 20px;
  line-height: 140px;
  text-align: center;
  // border: 1px solid #fff;
  background-color: #ccc;
  &:last-child {margin-right: 0;}
}